# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
*.env

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
.git
.gitignore

# Logs
*.log

# Notebooks and large files
*.ipynb
notebooks/
models/
checkpoints/
datasets/
media/
data/
